<!DOCTYPE html>
<html xmlns:th= "https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Create A Mission!</title>
</head>
<body>

<h2> Create A Mission</h2>


<form action ="#" th:action ="@{/addMission}" th:object = "${mission}" method="post">

Mission Name: <input type="text" name="missionName" th:field="*{title}">

<h2>Choose Your Hero:</h2>

<Select th:field="*{hero}">
<option th:each = "hero : *{heroes}"
th:text ="${hero}" th:value="${hero}">
</option>
</Select>

<h2> Chose The Weapons</h2>
Weapon 1: <input type="text" name="weapon 1" th:field="*{weapons}">
Weapon 2: <input type="text" name="weapon 2" th:field="*{weapons}">

<input type = "submit" value ="Create Mission">

</form>
</body>
</html>