<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/table.css}">
<title>View Missions</title>
</head>
<body>
<!-- condition for mission list, which hold all of our data that we queried from DB -->
	<div th:if="${missionList.empty}">
		There are no mission for:
		<div th:text="${hero}"></div>
	</div>
	<div th:unless="${missionList.empty}">
		<table id="missions">
		<!-- Creating a table if list is not null and displaying all values into the table -->	
			<tr>
				<th>Mission Title</th>
				<th>Hero Name</th>
				<th>Primary Weapon</th>
				<th>Secondary Weapon</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>		
			<tr th:each="mission: ${missionList}">
				<td th:text="${mission.title}"></td>
				<td th:text="${mission.hero}"></td>
				<td th:text="${mission.primaryWeapon}"></td>
				<td th:text="${mission.secondaryWeapon}"></td>
				<td><a href="#" th:href="@{/edit/} + ${mission.id}">Edit </a></td>
				<td><a href="#" th:href="@{/delete/} + ${mission.id}">Delete
				</a></td>			
			</tr>
		</table>
	</div>
</body>
</html>